body {
  font-size: 3vh;
  font-family: "Sweet Scream", cursive;
  background-color: rgb(40, 40, 40);
  height: 75vh;
}

@font-face {
  font-family: "Sweet Scream";
  src: url("../../fonts/Halloween.otf") format("truetype");
}

.center {
  margin-top: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes colorchange {
  0% {
    border-color: rgb(255, 105, 0);
    box-shadow: 0 0 10vh rgb(255, 105, 0);
  }
  50% {
    border-color: rgb(255, 165, 0);
    box-shadow: 0 0 5vh rgb(255, 165, 0);
  }
  100% {
    border-color: rgb(255, 105, 0);
    box-shadow: 0 0 10vh rgb(255, 105, 0);
  }
}

.box {
  border-radius: 10%;
  background-color: rgb(105, 0, 0);
  width: 50vw;
  height: 50vh;

  border: 1vh solid rgb(255, 140, 0);

  /* Adicionando animação à borda e à sombra */
  animation-name: colorchange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.formfield {
  align-items: center;
  justify-content: center;
  display: grid;
  color: rgb(
    255,
    140,
    0
  ); /* Cor do texto atualizada para um tom mais suave de laranja */
}

button {
  width: 20vh;
  height: 10vh;
  background-color: rgb(
    255,
    140,
    0
  ); /* Cor do botão atualizada para um tom mais suave de laranja */
  color: white; /* Cor do texto do botão atualizada para branco */
  border-radius: 10vh; /* Adicionado arredondamento à borda do botão */
}

@media screen and (max-width: 768px) {
  body {
    font-size: 2vh;
  }
}
