.fundo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #000000, #050505);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.borda {
  display: flex;
  background-color: rgba(100, 0, 30, 0.9);
  color: #ffc300;
  border: 1vw solid #900c3f;
  box-shadow: 0 0 3vw #ffc300;
  width: 50vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5vw;
  animation: glowing 2s infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 1.5vw #ffc300;
  }
  50% {
    box-shadow: 0 0 3vw #ffc300, 0 0 6vw #ff5733;
  }
  100% {
    box-shadow: 0 0 1.5vw #ffc300;
  }
}

.borda h1 {
  font-family: "Creepster", cursive;
  text-shadow: 0.25vw 0.25vw 0.5vw #ff5733;
  font-size: 2vw;
}

.borda a {
  color: #ffc300;
  text-decoration: none;
  border-bottom: 0.5vw solid #ffc300;
  padding: 2vw;
  transition: all 0.3s ease;
}

.borda a:hover {
  color: #ff5733;
  background-color: #ffc300;
}

@media only screen and (max-width: 600px) {
  .borda {
    border: 3vw solid #900c3f;
    width: 80vw;
    height: 80vh;
  }

  .borda h1 {
    font-size: 4vw;
    width: 70vw;
  }

  .borda a {
    border-bottom: 0.75vw solid #ffc300;
    padding: 3vw;
  }
}
